<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue.js</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app1">
    <class6-comp></class6-comp>
  </div>

  <div id="app2">
    <class6-comp></class6-comp>
  </div>
  <script>
    // 전역컴포넌트
    Vue.component('class6-comp', {
      template: '<h2>성공</h2>',
    });

    new Vue({
      el: '#app1',
    });

    new Vue({
      el: '#app2',
    });
  </script>
</body>

</html>